[user]
	name = Daniel Brito
	email = dbrito@pointslope.com
[core]
	autocrlf = input
	excludesfile = /Users/daniel/.gitignore_global
	editor = emacs
	pager = less
[commit]
	template = /Users/daniel/.git-commit-template
[help]
	autocorrect = 1
[alias]
	br = branch
	ci = commit -s
	co = checkout
	cp = cherry-pick
	dc = diff --cached
	fp = format-patch
	st = status
[color]
	ui = auto
[push]
	default = simple
[merge]
	tool = opendiff
[clean]
	requireForce = false
